##
## rzyOS sim keil project
##
/keil_proj/proj_sim/Objects
/keil_proj/proj_sim/RTE/_rzyOS

/keil_proj/proj_sim/*.uvguix.*
/keil_proj/proj_sim/*.uvoptx
/keil_proj/proj_sim/EventRecorderStub.scvd


##
## rzyOS stm32f407vgt6(stm32f4-discovery) keil project
##
/keil_proj/proj_stm32f407/DebugConfig
/keil_proj/proj_stm32f407/Listings
/keil_proj/proj_stm32f407/Objects

/keil_proj/proj_stm32f407/*.uvguix.*
/keil_proj/proj_stm32f407/*.uvoptx
/keil_proj/proj_stm32f407/EventRecorderStub.scvd

*.o
*.bin
*.elf
