##
## rzyOS sim keil project
##
/KEIL_PROJ/PROJ_SIM/Objects
/KEIL_PROJ/PROJ_SIM/RTE/_rzyOS

/KEIL_PROJ/PROJ_SIM/*.uvguix.*
/KEIL_PROJ/PROJ_SIM/*.uvoptx
/KEIL_PROJ/PROJ_SIM/EventRecorderStub.scvd


##
## rzyOS stm32f407vgt6(stm32f4-discovery) keil project
##
/KEIL_PROJ/PROJ_STM32F407/DebugConfig
/KEIL_PROJ/PROJ_STM32F407/Listings
/KEIL_PROJ/PROJ_STM32F407/Objects

/KEIL_PROJ/PROJ_STM32F407/*.uvguix.*
/KEIL_PROJ/PROJ_STM32F407/*.uvoptx
/KEIL_PROJ/PROJ_STM32F407/EventRecorderStub.scvd
